section{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    align-items: center;
    justify-content: center;
}

.charimage{
    width: 250px;
}
.role{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-weight: 500;
    font-size: 17px;
}
.role span{
    color: red;
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.darken{
    transition: 0.7s;
    border: solid white 0.1px;
    box-shadow: 5px 5px 17px 0px rgb(180, 148, 148);
}
.darken:hover{
    filter: brightness(0.3);
    transform: scale(0.9);
}
