.footer-con{
    flex: 1 1 auto;
    height: 25px;
    background-color:rgb(54, 52, 52);
}
.custom-width{
    width: 50%;
}
.footerLogo{
    width: auto;
    height: 150px;
}
.costum-width2{
    display: flex;
width: 50%;
margin-right: 5%;
justify-content: end;
}

.footer-big{
    
    background-color: #202020;;
    width: 100%;
    
}
.footer-info{
    width: 100%;
}
.footer-a{
    text-decoration: none;
    color:#17a2b8;
}
.footer-a2{
    text-decoration: none;
    color:#17a2b8;
    ;
}
.footer-p{
    color:#6c6c6c;;
}
.footer-p2{
    color:#6c6c6c;;
}
.footer-h{
    color:whitesmoke ;
}
@media only screen and (max-width: 768px){

    .footer-p{
display: none;
    }
}
@media only screen and (max-width: 350px){

    .footer-h{
        display: flex;
        justify-content: start;

    }
    .custom-width{
        width: 0%;
    }
    .costum-width2{
       
       
        width: 100%;
        margin-right: 5%;
    }
}