.container-fluid{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 75%; 
  

}
.border-custom{
   border:2px solid white;
   border-radius: 10px;
   box-shadow: 5px 5px 17px 0px rgb(180, 148, 148);
}

.col{
   
    padding: 0;
    margin: 0;
    border: 10px;
}
.col:hover{
    transform: scale(0.9);
   
}
.darken-on-hover {
    transition: 0.7s
  }
  
  .darken-on-hover:hover {
    filter: brightness(0.3); /* Adjust the value (between 0 and 1) to make the image darker */
  }

